.cyberpunk-text {
    font-family: 'Orbitron', sans-serif;
    color: #00ffcc;
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 40px #00ffcc;
}

.box-images {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}